{% load static %}
{% static '/styles/style.css' %}


<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursos - Seu Site</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <h1>Cursos</h1>
    </header>
    <main>
        <section class="curso">
            <h2>Nome do Curso 1</h2>
            <img src="imagem-curso-1.jpg" alt="Imagem do Curso 1">
            <p>Descrição do Curso 1...</p>
            <a href="curso-1.html">Saiba Mais</a>
        </section>
        <section class="curso">
            <h2>Nome do Curso 2</h2>
            <img src="imagem-curso-2.jpg" alt="Imagem do Curso 2">
            <p>Descrição do Curso 2...</p>
            <a href="curso-2.html">Saiba Mais</a>
        </section>
        <section class="curso">
            <h2>Nome do Curso 3</h2>
            <img src="imagem-curso-3.jpg" alt="Imagem do Curso 3">
            <p>Descrição do Curso 3...</p>
            <a href="curso-3.html">Saiba Mais</a>
        </section>
    </main>
    <footer>
        <p>Seu site - Todos os direitos reservados.</p>
    </footer>
</body>

</html>